<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer footer-expand-lg">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href=""><i class="bi bi-facebook"></i></a>
  
        <!-- Whatsapp -->
        <a href=""> <i class="bi bi-whatsapp"></i> </a>
  
        <!-- Instagram -->
      <a href=""><i class="bi bi-instagram"></i></a>

        <!-- youtube -->
        <a href=""> <i class="bi bi-youtube"></i></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #000;">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">GlobalTechSupportGroup</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->