<div class="home-container">
    <div class="row">
        <div class=" col-lg-4">
            <div class="card">
                <img src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                <a href=""> Rent unlock-tool now </a>
                <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
                
                <div class="card">
                    <img src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                    <a href=""> Rent unlock-tool now </a>
                    <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
                
        </div>

        <div class=" col-lg-4">
            <div class="card">
                <img src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                <a href=""> Rent unlock-tool now </a>
                <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
    
                <div class="card">
                    <img src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                    <a href=""> Rent unlock-tool now </a>
                    <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
                
            
        </div>

        <div class="col-lg-4">
            
             <div class="card" >
                <div class="row">
                <div class="col-5">
                <img class="img-thumbnail img-fluid" src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                </div>
                <div class="col-7">
                <a href=""> Rent unlock-tool now </a>
                <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
                </div>

             </div>
    
                <div class="card">
                    <img src="assets/Images/unlocktool-rent.jpg" alt="Italian Trulli">
                    <a href=""> Rent unlock-tool now </a>
                    <p>Rent unlock-tool for as low as 200 bob per day & 100 bob per session </p>
                </div>
                

    </div>

</div>








